.progressbar-container {
    width: 60vw;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progressbar-container>img {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.cropped-section {
    width: 10rem;
    height: 4rem;
    position: absolute;
    top: -0.2rem;
    left: 15px;
    border-radius: 5px;
}

.theme-dark {
    border-top: 0.2rem solid #ffd300;
    border-bottom: 0.2rem solid #ffd300;
    border-left: 0.6rem solid #ffd300;
    border-right: 0.6rem solid #ffd300;
}

.theme-light {
    border-top: 0.2rem solid rgb(255, 149, 0);
    border-bottom: 0.2rem solid rgb(255, 149, 0);
    border-left: 0.6rem solid rgb(255, 149, 0);
    border-right: 0.6rem solid rgb(255, 149, 0);
}

.cropped-section.cropped-section-active {
    animation: scaleYEase 0.3s forwards;
}

@keyframes scaleYEase {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(1.1);
    }
}

@keyframes scaleYEaseDown {
    0% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}

.start-grabber {
    height: 4.4rem;
    position: absolute;
    left: -0.6rem;
    top: -0.2rem;
    width: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.start-grabber:active {
    cursor: grabbing;
}

.end-grabber {
    height: 4.4rem;
    position: absolute;
    right: -0.6rem;
    top: -0.2rem;
    width: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.end-grabber:active {
    cursor: grabbing;
}

.grip-icon {
    color: rgb(28, 28, 30);
}